.homeContainer {
    padding: 60px 37px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--font-spartan);
    margin-bottom: 20px;
}

.content {
    margin-bottom: 60px;
    max-width: 560px;
}

.skillsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
    column-gap: 51px;
    row-gap: 10px;
    justify-content: space-between;
    max-width: 560px;
}

.buttonText, .content, .skill {
    color: #000;
    font-family: var(--font-roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.button {
    background: #D9D9D9;
    width: 297px;
    padding: 18px 51px;
    border-radius: 0px;
    margin: auto;
    margin-bottom: 30px;
}

.button:hover {
    background: #D9D9D9;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.icon {
    height: 14px;
    width: 14px;
}

.skillContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    min-width: 195px;
    align-items: center;
}