.footerWrapper {
    background: #000;
    padding: 83px 37px 77px 37px;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    row-gap: 60px;
    justify-content: space-between;
    column-gap: 20px;
}

.linksContainer{
    max-width: 298px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.link, .contacts {
    color: #FFF;
    font-family: var(--font-roboto);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link:hover {
    color: #D9D9D9;
    text-decoration: underline;
}

.link, .logoContainer {
    cursor: pointer;
}

.logoContainer{
    width: 58px;
    height: 58px;
    background: white;
    margin-right: 21px;
}

.logoAndContactsContainer{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.contactsContainer{
    min-height: 58px;
    max-width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.contactEmail {
    font-size: 14.1px;
}

@media screen and (min-width: 1440px) {
    .logoAndContactsContainer {
        flex-direction: row-reverse;
        width: 50%;
        margin: 0px;
        justify-content: space-between  ;
    }

    .linksContainer {
        margin: 0px;
    }

    .footerWrapper {
        padding: 160px 120px;
    }

    .footerContainer {
        column-gap: 0px;
        align-items: start;
    }

    .logoContainer {
        margin-right: 0px;
        width: 80px;
        height: 80px;
    }

    .contactEmail {
        font-size: 16px;
    }

    .contactsContainer{
        max-width: none;
    }
}